section {
  width: 600px;
  height: auto;
  text-align: center;
  border: 15px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  padding: 20px;
  border: 9px solid darkblue;
}
