# /01-Activities/1*
# /01-Activities/2*
# !/01-Activities/10*
# !/01-Activities/11*
# !/01-Activities/12*

!/01-Activities
!/01-Activities/01*/Solved
!/01-Activities/02*/Solved
# !/01-Activities/03*/Solved
# !/01-Activities/04*/Solved
# !/01-Activities/05*/Solved
# !/01-Activities/06*/Solved
# !/01-Activities/07*/Solved
# !/01-Activities/08*/Solved
# !/01-Activities/09*/Solved
# !/01-Activities/10*/Solved
# !/01-Activities/11*/Solved
# !/01-Activities/12*/Solved
# !/01-Activities/13*/Solved
# !/01-Activities/14*/Solved
# !/01-Activities/15*/Solved
# !/01-Activities/16*/Solved
# !/01-Activities/17*/Solved
# !/01-Activities/18*/Solved
# !/01-Activities/19*/Solved
# !/01-Activities/20*/Solved
# !/01-Activities/21*/Solved
# !/01-Activities/22*/Solved
# !/01-Activities/23*/Solved
# !/01-Activities/24*/Solved
# !/01-Activities/25*/Solved
# !/01-Activities/26*/Solved
# !/01-Activities/27*/Solved
!/01-Activities/28*/Main

!/03-Algorithms/*/Solved